<div id="empty_template" class="card" hidden style="border: none;background-color: white;">
</div>

<div class="jumbotron page" id="page_template" hidden>
</div>


<div id="template" class="card shadow mb-4" hidden style="background-color: white; max-height: 50vh;">
    <div id="video-time" class="bottom-bottom-right">00:00</div>
    <a class="card-image-test" id="image" href="javascript:void(0);"><img src='' class="card-img-top"
            alt="Accroche HTML"></a>
    <div id="cardbody" class="card-body">
        <h4 class="card-title" style="margin-bottom: 0!important">Titre</h4>
        <p class="card-text" style="margin-bottom: 0!important">Du texte sous le titre dans le corps de carte</p>
        <div class="row">
            <div id="type" class="col-6">
                <i>type</i>
            </div>
            <div id="date" class="col-6" style="text-align: right;">
                date
            </div>
            <div id="city" class="col-9">
                city
            </div>
            <div class="col-3 align-self-right text-right">
                <i href="javascript:void(0);" id="tiktok-off" class="fab fa-tiktok" onclick="tiktok(this)"></i>
                <i href="javascript:void(0);" id="dollar-off" class="fas fa-dollar-sign" onclick="dollar(this)"></i>
            </div>
        </div>
    </div>
</div>