<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>okayemotions</title>
    <meta name="keywords" content="okayemotions, okayemotion, vidéo, vente, partage" />
    <meta name="description" content="Upload and share your videos" />
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
</head>


<body>
    <%- include ('./include/stylesheets') %>
    <%- include ('./include/scripts') %>
    <%- include ('./partials/header' , {logged: user, fixed: fixed}) %>
    <%- body %>
</body>

</html>