<style>
    html,
    body {
        margin: 0;
        padding: 0;
        width: 100%;
    }

    .content {
        width: 94%;
        margin: 4em auto;
        font-size: 20px;
        line-height: 30px;
        text-align: justify;
    }

    .logo {
        line-height: 60px;
        position: fixed;
        float: left;
        margin: 16px 46px;
        color: #fff;
        font-weight: bold;
        font-size: 20px;
        letter-spacing: 2px;
    }


    nav ul {
        line-height: 60px;
        list-style: none;
        background: rgba(0, 0, 0, 0);
        overflow: hidden;
        color: #fff;
        padding: 0;
        text-align: right;
        margin: 0;
        padding-right: 40px;
        transition: 1s;
    }

    nav.black ul {
        background: #000;
    }

    nav ul li {
        display: inline-block;
        padding: 16px 40px;
        ;
    }

    nav ul li a {
        text-decoration: none;
        color: #fff;
        font-size: 16px;
    }


    @media(max-width: 786px) {

        .logo {
            position: fixed;
            top: 0;
            margin-top: 16px;
        }

        nav ul {
            max-height: 0px;
            background: #000;
        }

        nav.black ul {
            background: #000;
        }

        .showing {
            max-height: 34em;
        }

        nav ul li {
            box-sizing: border-box;
            width: 100%;
            padding: 24px;
            text-align: center;
        }

        .menu-icon {
            display: block;
        }

    }
</style>
<header>
    <nav>
        <div class="menu-icon">
            <i class="fa fa-bars fa-2x"></i>
        </div>
        <div class="logo">
            <a href="/">LOGO</a>
        </div>
        <div class="menu">
            <ul>
                <li><a href="/data">Données</a></li>
                <li><a href="/new">Envoyer</a></li>
                <li><a href="/user/register">Inscription</a></li>
                <li><a href="/user/login">Connexion</a></li>
            </ul>
        </div>
    </nav>
</header>
<div class="container">
    <div class="row mt-5">
        <div class="col-md-6 m-auto">
            <div class="card card-body">
                <h1 class="text-center mb-3">
                    <i class="fas fa-user"></i> Submit a Video
                </h1>
                <form action="/new/link" method="POST">
                    <div class="form-group">
                        <label for="fname">First Name</label>
                        <input type="fname" id="fname" name="fname" class="form-control" placeholder="Enter First Name"
                            required />
                    </div>
                    <div class="form-group">
                        <label for="lname">Last Name</label>
                        <input type="lname" id="lname" name="lname" class="form-control" placeholder="Enter Last Name"
                            required />
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" id="email" name="email" class="form-control" placeholder="Enter Email"
                            required />
                    </div>
                    <div class="form-group">
                        <label for="vname">Video Name</label>
                        <input type="vname" id="vname" name="vname" class="form-control"
                            placeholder="Enter the name of the video" required />
                    </div>
                    <div class="form-group">
                        <label for="credit">Credit</label>
                        <input type="credit" id="credit" name="credit" class="form-control" placeholder="Enter your @"
                            required />
                    </div>
                    <div class="form-group">
                        <label for="social-select">Media</label>
                        <select class="form-control" name="media" id="media" required>
                            <option value="">--Please choose your platform--</option>
                            <option value="Youtube">Youtube</option>
                            <option value="TikTok">TikTok</option>
                            <option value="Instagram">Instagram</option>
                        </select>
                    </div>
                    <div class="form-group ">
                        <label for="link">Video</label>
                        <input type="link" id="link" name="link" class="form-control" placeholder="Link to the video" />
                    </div>
                    <button style="margin-top:10px;"  type="submit" class="btn btn-primary btn-block">
                        Submit
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>