<link rel="stylesheet" type="text/css" href="thanks.css">

<header>
    <nav>
        <a class="navbar-brand" href="/">
            <img src="logo.png" width="25%">
        </a>
    </nav>
</header>

<p class="myText">Thank you! Follow us to see if your video is featured.</p>
<div align="center" class="socialbtns">
    <ul>
        <li><a href="https://www.tiktok.com/@okayemotions" target="_blank" class="fab fa-3x fa-tiktok"></a></li>
        <li><a href="https://www.instagram.com/okayemotions/" target="_blank" class="fab fa-3x fa-instagram"></a></li>
        <li><a href="https://www.youtube.com/okayemotions" target="_blank" class="fab fa-3x fa-youtube"></a></li>
    </ul>
</div>
<button onclick="location.href = '/';" class="btn btn-primary btn-lg btn-block btn-login font-weight-bold">Submit another video</button>
</form>