html, body {
    margin: 0;
    padding: 0;
    width: 100%;
}

.bs-bars {
    width: 30% !important;
}

.bootstrap-table {
    margin: 5%;
    margin-right: 3% !important;
    margin-left: 3% !important;
}

.nav a {
    color: black !important;
    font-size: 1.8em !important;
}