<link rel="stylesheet" type="text/css" href="password.css">
<style>
    @font-face {
        font-family: "apercu";
        src: url('ApercuProLight.otf');
    }

    @font-face {
        font-family: "apercu";
        font-style: italic;
        src: url('ApercuProItalic.otf');
    }

    @font-face {
        font-family: "apercu";
        font-weight: bold;
        src: url('ApercuProBold.otf');
    }

    body {
        display: flex;
        flex-direction: column;
    }

    body,
    p,
    .btn {
        font-family: "apercu";
    }

    .btn-primary:hover,
    .btn-primary:active,
    .btn-primary:visited {

        border-color: #01a6c0 !important;
        background-color: #01a6c0 !important;
    }

    .btn-primary {
        border-color: #00bfdb !important;
        background-color: #00bfdb !important;
    }
</style>
<div class="container h-80">
    <div class="row align-items-center h-100">

        <div class="col-6 mx-auto">
            <div class="text-center">
                <img id="profile-img" src="image.jpg" />
                <p id="profile-name" class="profile-name-card"></p>
                <form action="/auth/" method="POST" class="form-signin">


                    <input type="password" name="password" id="password" class="form-control form-group"
                        placeholder="password" required autofocus>

                    <input type="hidden" name="email" id="email" class="form-control form-group" value="tmp" required
                        autofocus>
                    <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">enter</button>
                </form>
            </div>
        </div>
    </div>
</div>