
<div style="margin: auto;width: 50%;">
<% if(role === "admin") { %>
    <button type="button" class="btn btn-secondary" style="border-radius: 5px; " onclick="location.href='moderate'">Moderation Page</button>
    <button type="button" class="btn btn-secondary" style="border-radius: 5px; " onclick="location.href='data'">Raw Data Page</button>
    <% }%>

    
    <button type="button" class="btn btn-secondary" style="border-radius: 5px;" onclick="location.href='new_data'">Data Page</button>

</div>